@import "tailwindcss";


:root {
  --font-body: 'Roboto', system-ui, -apple-system, Segoe UI, Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Apple Color Emoji', 'Segoe UI Emoji';
  --font-heading: 'Poppins', var(--font-body);
}

body { font-family: var(--font-body); }
.h-heading { font-family: var(--font-heading); }
