# Git
.git
.gitignore

# User/IDE settings
.vscode
.idea
*.suo
*.user
*.userosscache
*.sln.docstates

# Build outputs
bin/
obj/
out/

# Node (React Vite)
node_modules/
dist/
build/

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env & secrets
*.env
.env.*
secrets.json
